# Requisitos para AgroSmart Decisions

# Framework para interfaz web
streamlit==1.24.1

# Manipulación y análisis de datos
numpy>=1.26.0
pandas==1.5.3

# Optimización lineal
pulp==2.7.0

# Visualización avanzada
plotly==5.15.0

# Soporte para formatos Excel
openpyxl==3.1.2
XlsxWriter==3.1.2

# Imágenes y procesamiento
pillow==9.5.0

# Complementos útiles
python-dateutil==2.8.2
pytz==2023.3
